* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rye', cursive;
  background: url('./table.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.draw-btn, .shuffle-btn {
  padding: 1em;
  font-size: 1.25rem;
  background: #AC714A;
  color: #D9D7C7;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
}

.draw-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}